/PSP/TestDemonio/build/
/PSP/TestDemonio/nbproject/private/
/PSP/TestHilo3/build/
/PSP/TestHilo3/nbproject/private/
/PSP/TestHilos2/build/
/PSP/TestHilos2/nbproject/private/
/PSP/TestPrioridad/TestPrioridad/build/
/PSP/TestPrioridad/TestPrioridad/nbproject/private/
/PSP/TestPrioridad_1_n argumento defecto 3/TestPrioridad_1_n argumento defecto 3/build/
/PSP/TestPrioridad_1_n argumento defecto 3/TestPrioridad_1_n argumento defecto 3/nbproject/private/
/PSP/TestPrioridad_2_todos_misma_prioridad_heredada/TestPrioridad_2 - todos_misma_prioridad_heredada/build/
/PSP/TestPrioridad_2_todos_misma_prioridad_heredada/TestPrioridad_2 - todos_misma_prioridad_heredada/nbproject/private/
/PSP/TestPrioridad_join/TestPrioridad_JOIN/build/
/PSP/TestPrioridad_join/TestPrioridad_JOIN/nbproject/private/
